#wrapper{
  background-color: #fff;
  margin: 0 auto;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  .rows {
    display: flex;
    align-items: center;
  }

  .items{ 
    padding: 20px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .search_wrapper{
    border-top: 1px solid #eee;
    gap: 100px;
  }

  .selectBox {
    border: 1px solid #9f9f9f; 
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 150px;
    height: 1.5rem;
    padding: 13px 0;
    background: none;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    position: relative;
  }

  .options {
    width: 150px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    overflow: hidden;
  }

  .opt {
    font-size: 15px;
    padding: 10px;
    text-align: center;
    list-style: none;
    cursor: pointer;
    &:hover {
      background: #969696;
    }
  }
  
  .search_bar {
    gap: 20px;
    input {
      padding: 10px 20px;
      border: 1px solid #c4c4c4;
    }
  }

  .search_btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius:5px;
  }
}

